<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGCllkLUhzmYK-0N3Q8FQ5idX0T1n36Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>983523250664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-quiz-f4e83</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-quiz-f4e83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983523250664:ios:c71ce06218e64bd366d45d</string>
</dict>
</plist>